<a href="https://colab.research.google.com/github/khcolin/py-dl1/blob/main/py-week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#3-1.
#아래 코드를 완성하시오.
fruit =["사과", "포도", "홍시"]
user_fruit = input("좋아하는 과일은? ")

if user_fruit in fruit :   # 이 부분을 완성하시오
    print("정답입니다")
else :
    print("오답입니다")            # 이 부분을 완성하시오.

좋아하는 과일은? 사과
정답입니다

In [11]:
#3-2.


grade = int(input("Score를 입력하세요: "))

if grade >=81 and grade <=100:
    print("grade is A")
elif  grade >= 61  :
    print("grade is B")
elif  grade >=41     :
    print("grade is C")
elif  grade >= 21   :
    print("grade is D")
else:
    print("grade is E")

Score를 입력하세요: 89
grade is A

In [ ]:
#3-3.
idx = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
num = input("주민등록번호를 입력하시오: (xxxxxx-xxxxxxx형태로)")
num = num.replace('-', '')
s = 0
for i in range(12):
    s += int(num[i])*idx[i]         # s+= 은 s=s+

mod = s % 11
c = (11 - mod) % 10   # 이 부분을 채우시오.

if  c == num[12]    :  #이 부분을 채우시오.
    print("유효한 주민등록번호 입니다.")
else:
    print("유효하지 않은 주민등록번호입니다. ")

In [13]:
#3-4.
num = int(input("구매할 상품 개수를 입력하시오: "))

if  num<10   : #10개 미만
    price = 100
elif num>= 10 and num <30:
    price = 95
elif num>=30 and num<100          :
    price = 90
elif num>=100      :
    price = 85

pay = num*price
print(f"총 지불해야할 가격은 {pay}원입니다.")

구매할 상품 개수를 입력하시오: 23
총 지불해야할 가격은 2185원입니다.

In [19]:
#3-5.
year = int(input("년도를 입력하시오: "))

if year % 400 ==0 : # 400으로 나누어 떨어지는 해는 윤년
    print(f"{year}년은 윤년이다.")
elif year%100==0      : #100으로 나누어 떨어지고 400으로 나누어 지지 않는 해는 평년
    print(f"{year}년은 윤년이 아니다.")
elif  year%4==0     : # 100으로 나누어 지지 않고 4로 나누어 떨어지는 해는 윤년
    print(f"{year}년은 윤년이다.")
else :
    print(f"{year}년은 윤년이 아니다.")

년도를 입력하시오: 2100
2100년은 윤년이 아니다.

In [20]:
#3-6.
year = int(input("년도를 입력하시오: "))
month = int(input("월을 입력하시오: "))

if   month in      [1, 3, 5, 7, 8,10, 12]: # 그 달이 1, 3, 5, 7, 8, 10, 12월이면 31일
    print(f"{month}월은 31일까지 있다.")
elif  month in        [4, 6, 9, 11]: #30일인 달
    print(f"{month}월은 30일까지 있다.")
else:
    if   year % 400 ==0     : #위의 과정을 참고해서 코드를 채울 것
        print(f"{month}월은 29일까지 있다.")
    elif  year%100==0        :
        print(f"{month}월은 28일까지 있다.")
    elif    year%4==0      :
        print(f"{month}월은 29일까지 있다.")
    else  :
        print(f"{month}월은 28일까지 있다.")

년도를 입력하시오: 2000
월을 입력하시오: 12
12월은 31일까지 있다.

In [21]:
#3-7.
i = 1
total = 0
while   i <1001    :
    if  i%3==0     : # 3의 배수이면 ?
        total += i
    i +=1


print(f"1부터 1000까지의 자연수 중 3의 배수의 합은 {total}이다.")

1부터 1000까지의 자연수 중 3의 배수의 합은 166833이다.

In [32]:
#3-8.
A = [20,55,67,82,45,33,90,87,100,25]
i = 0
total = 0
while  i<=100  :
    if  i>=50  and i in A  :
      total=total+i
    i=i+1




print(total)

481

In [ ]:
#3-8.(교수님 풀이)
A = [20,55,67,82,45,33,90,87,100,25]
i = 0
total = 0
while  i<10  :
    if  A[i]>=50  :
      total=total+A[i]
    i=i+1




print(total)

In [31]:
#3-9.
i = 1
while  1 :
    print( "*"*i   )
    i=i+1    # i를 키워줘야 함.
    if i ==11:
        break

*
**
***
****
*****
******
*******
********
*********
**********

In [34]:
#3-10.
total = 0
i = 100
while  i<10000    :
  if i%5==0:
    total=total+i
  i=i+1



print(total)

9994050

In [37]:
#3-11.
for i in range(1,101)   :
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [40]:
#3-12.
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for  num in A  :
  total=total+num


average = total / len(A)
print(f"A학급의 평균 점수는 {average}이다.")

A학급의 평균 점수는 79.0이다.

In [41]:
#3-13.
numbers = []

for i in range(1, 101):
    numbers.append(i)

for i in range(100) :
    if "3" in str(numbers[i]):
        numbers[i] = "*"
    if   "6" in str(numbers[i]):
        numbers[i] = "*"
    if   "9" in str(numbers[i]):
        numbers[i] = "*"


print(numbers)

[1, 2, '*', 4, 5, '*', 7, 8, '*', 10, 11, 12, '*', 14, 15, '*', 17, 18, '*', 20, 21, 22, '*', 24, 25, '*', 27, 28, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 40, 41, 42, '*', 44, 45, '*', 47, 48, '*', 50, 51, 52, '*', 54, 55, '*', 57, 58, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 70, 71, 72, '*', 74, 75, '*', 77, 78, '*', 80, 81, 82, '*', 84, 85, '*', 87, 88, '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', '*', 100]

In [42]:
#3-14.
sum = 0
for i in range(1,101):
    if  i%3==0 :
        sum += i

    elif i%4==0  :
        sum+=i


print(sum)

2551

In [52]:
#3-15.
import random  #import는 끝 숫자도 포함, numpy는 끝 숫자 포함 x
a= [random.randint(0,100) for value in range(0,20)]           # 무작위 리스트 생성하는 법!!!!!!!!!!,0부터 100까지 나올 수 있음.(주의)
max = a[0]
for i in range(1, 20)     :
    if  max>=a[i]   :
        continue
    else:
        max = a[i]


print(f"리스트: {a}\n최대값: {max}")

리스트: [61, 15, 84, 35, 73, 22, 29, 84, 4, 8, 80, 62, 67, 19, 16, 47, 26, 88, 0, 22]
최대값: 88

dd
dd
dd